@import "tailwindcss";
@import "tw-animate-css";
@import "../../../packages/ui/src/theme.css";

/* make sure Tailwind parses classes defined in UI package */
@source "../../../packages/ui/src";

@theme inline {
  --font-sans: "Geist", "Geist Fallback";
  --font-mono: "Geist Mono", "Geist Mono Fallback";

  /* main colors */
  --color-foreground: #000000;
  --color-background-secondary: #f5f5f5;
  --color-accent: #d01f27;
  --color-light: #e5e5e5;

  --color-text-primary: #353535;
  --color-text-secondary: #525252;
  --color-text-accent: #D32C34;
  --color-text-inverted: #fff;

  --color-border: #C7C7C7;

  --color-background: #ffffff;
  --color-background-accent-hover: #FFF5F5;
  --color-background-accent-light: #FFFBFB;

  /* legacy colors */
  --color-card: #fafafa;
  --color-muted-foreground: #666666;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;

  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-full: 9999px;

  /* custom typography */
  --text-h2: 1.875rem;
  --text-h2--line-height: 140%;

  --text-lg: 1.25rem;
  --text-lg--line-height: 140%;

  --text-md: 1.125rem;
  --text-md--line-height: 140%;

  --text-base: 1rem;
  --text-base--line-height: 140%;

  --text-sm: 0.875rem;
  --text-sm--line-height: 140%;

  --text-xs: 0.75rem;
  --text-xs--line-height: 160%;

  /* custom animations */
  --color-dark: #0D0D0D;
  --color-dark-hover: #1e1e1e;

  --animate-shimmer: shimmer 2s infinite;
  --animate-slide-up: slide-up 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  --animate-slide-in: slide-in 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  --animate-highlight: highlight 1s ease-out forwards;

  @keyframes shimmer {
    0% {
      left: -50%;
    }
    100% {
      left: 150%;
    }
  }

  @keyframes highlight {
    0% {
      background-color: #fef9c3;
    }
    100% {
      background-color: transparent;
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(0) rotateX(0deg);
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: translateY(-100%) rotateX(-90deg);
      opacity: 0;
    }
  }
  @keyframes slide-in {
    0% {
      transform: translateY(100%) rotateX(90deg);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: translateY(0) rotateX(0deg);
      opacity: 1;
    }
  }
}

@layer base {
  * {
    @apply border-light;
  }

  /* Ensure body has pure white background and black text */
  body {
    @apply bg-white text-black;
  }

  html {
    @apply antialiased;
  }
}
