HOST_GRAPHQL_URL=http://localhost:9181/api/v0/graphql
# testnet | internal | devnet | local (defaults to testnet)
SHINZOHUB_CHAIN=testnet
VITE_WALLETCONNECT_ID=
VITE_APP_URL=http://localhost:5173
VITE_SHINZOHUB_EXPLORER_URL=https://explorer.shinzo.network/shinzohub
