HOST_GRAPHQL_URL=http://localhost:9181/api/v0/graphql
SHINZOHUB_EVM_RPC=http://rpc.develop.devnet.shinzo.network:8545
SHINZOHUB_COSMOS_RPC=http://rpc.develop.devnet.shinzo.network:1317
VITE_WALLETCONNECT_ID=
VITE_APP_URL=http://localhost:5173
VITE_SHINZOHUB_CHAIN_ID=91273002
