NEXT_PUBLIC_WALLETCONNECT_ID=
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_HOST_GRAPHQL_URL=http://localhost:9181/api/v0/graphql
NEXT_PUBLIC_USE_HOST_GRAPHQL_PROXY=true
NEXT_PUBLIC_SHINZOHUB_CHAIN_ID=91273002
NEXT_PUBLIC_SHINZOHUB_EVM_RPC=
NEXT_PUBLIC_SHINZOHUB_LCD_URL=
NEXT_PUBLIC_SHINZOHUB_BLOCK_EXPLORER_URL=
