/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 3rem;
  position: relative;
  overflow: hidden;
  min-height: 30vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--szo-border);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--szo-border);
}

.heroTitle {
  font-size: 3rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroLogo {
  max-width: 300px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 2rem;
}

@media screen and (max-width: 996px) {
  .heroLogo {
    max-width: 200px;
  }
  .heroBanner {
    padding: 4rem 2rem;
  }
  .heroTitle {
    font-size: 26px;
  }
}
