# get it from https://www.google.com/recaptcha/admin/create
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# private key of account to send $SHN tokens from
FAUCET_PRIVATE_KEY=

# main ShinzoHub RPC
NEXT_PUBLIC_SHINZO_RPC=http://rpc.devnet.shinzo.network:26657
