# get it from https://www.google.com/recaptcha/admin/create
VITE_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# ShinzoHub's Cosmos RPC
VITE_SHINZO_RPC=http://rpc.devnet.shinzo.network:26657

# private key of account to send $SHN tokens from
FAUCET_PRIVATE_KEY=
