# get it from https://www.google.com/recaptcha/admin/create
VITE_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# ShinzoHub block explorer used for frontend transaction links
VITE_SHINZOHUB_EXPLORER_URL=http://blockscout.shinzo.network/

# ShinzoHub's RPC endpoints used by the worker
SHINZOHUB_COSMOS_RPC=http://rpc.develop.devnet.shinzo.network:1317
SHINZOHUB_RPC=http://rpc.develop.devnet.shinzo.network:26657

# private key of account to send $SHN tokens from
FAUCET_PRIVATE_KEY=
